.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .steps::after {
    content: "";
    width: 380px;
    border-bottom: 1px solid #ccc;
    top: 20px;
    position: absolute;
  }
  
  .step {
    text-align: center;
    background-color: #fff;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
  }
  
  .step svg {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
  
  .active {
    font-weight: bold;
  }
  
  .active > svg {
    fill: #00C48C;
  }